:host {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  padding: 0 10rem;
  height: 80px;
  line-height: 80px;
  margin-bottom: 15px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 31%, rgba(158,144,133,1) 74%, rgba(0,0,0,1) 100%);
  color: white;
  position: sticky;
  top: 0;
  z-index: 99999;
  border-bottom: 1px solid rgba(90,66,47,1);
  -webkit-box-shadow: 1px 0px 6px 5px rgba(0,0,0,0.23);
  box-shadow: 1px 0px 6px 5px rgba(0,0,0,0.23);
}

.logo-main-text {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  color: #071616;
}

.logo-main {
  padding-left: 10px;
  padding-right: 10px;
}

a, a:visited, a:hover {
  color: white;
}
