body {
  background: url(/assets/images/pattern.gif) repeat;
}

mat-card {
  background: white;
  border: 1px solid #eee;
}

.mat-card-title {
  font-weight: 500;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

