:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

[book-tile] {
  margin-bottom:20px;
}

.no-books {
  width: 100%;
  height: 300px;
  background-color: white;
  text-align: center;
  line-height: 300px;
}
